.game {
    margin: auto;
    padding: auto;
	text-align: center;
}

.game h1 {
    margin: 0;
}

.game h4 {
    margin: 0;
}

.game .grid {
	display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
	text-align: left;
}

.game .grid .row {
    display: block;
	height: auto;
	text-align: left;
    width: auto;
}

.game .grid .row .square {
	background-color: #DDD;
    display: inline-block;
	height: 50px;
	margin: 0;
	padding: 0;
    width: 50px;
}
.game .grid .row .square[data-value="1"] {
	background-color: #5D6;
}
.game .grid .row .square[data-value="2"] {
	background-color: #D56;
}